<header>
  <a href="/">
    <h1>
      Connor Couetil
    </h1>
  </a>
  <nav>
    {{ if not (hasPrefix "/portfolio" (placeholder "http.request.uri.path")) }}
    <span class="nav-item">
      <a href="/portfolio/index.html">
        Portfolio
      </a>
      <span class="underline"></span>
    </span>
    {{ end }}
    {{ if not (hasPrefix "/about" (placeholder "http.request.uri.path")) }}
    <span class="nav-item">
      <a href="/about/index.html">
        About
      </a>
      <span class="underline"></span>
    </span>
    {{ end }}
    <span class="nav-item">
      <a href="/resume/index.html">
        Resume
      </a>
      <span class="underline"></span>
    </span>
    <span class="nav-item">
      <a href="https://github.com/couetilc">
        <img src="/GitHub-Mark-32px.png">
      </a>
      <span class="underline"></span>
    </span>
    <span class="nav-item">
      <a href="https://linkedin.com/in/connorcouetil">
        <img src="/LI-In-Bug.png">
      </a>
      <span class="underline"></span>
    </span>
  </nav>
</header>
