---
import BaseLayout from './BaseLayout.astro'
import '../styles/page.css'
const { section_id, ...props } = Astro.props
---

<BaseLayout {...props}>
  <section id={section_id}>
    <slot />
  </section>
</BaseLayout>
