---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/home.css';
---

<BaseLayout title="Yo.">

  <section id="content">
    <picture id="background">
      <source media="(min-width: 2050px)"
              srcset="/sat_R20m_output80_nosharp.webp">
      <source media="(min-width: 2050px)"
              type="image/jpeg"
              srcset="/sat_R20m_output80_nosharp.jpg">
      <source media="(min-width: 900px) and (max-width: 2049px) and (min-resolution: 2dppx)"
              type="image/webp"
              srcset="/sat_R20m_output80_nosharp.webp">
      <source media="(min-width: 900px) and (max-width: 2049px)"
              type="image/webp"
              srcset="/sat_R60m_output80_nosharp.webp">
      <source media="(min-width: 900px) and (max-width: 2049px) and (min-resolution: 2dppx)"
              type="image/jpeg"
              srcset="/sat_R20m_output80_nosharp.jpg">
      <source media="(min-width: 900px) and (max-width: 2049px)"
              type="image/jpeg"
              srcset="/sat_R60m_output80_nosharp.jpg">
      <source media="(min-width: 500px) and (max-width: 899px) and (min-resolution: 2dppx)"
              type="image/webp"
              srcset="/sat_R60m_output80_nosharp.webp">
      <source media="(min-width: 500px) and (max-width: 899px)"
              type="image/webp"
              srcset="/sat_R60m_output80_nosharp_1200.webp">
      <source media="(min-width: 500px) and (max-width: 899px) and (min-resolution: 2dppx)"
              type="image/jpeg"
              srcset="/sat_R60m_output80_nosharp.jpg">
      <source media="(min-width: 500px) and (max-width: 899px)"
              type="image/jpeg"
              srcset="/sat_R60m_output80_nosharp_1200.jpg">
      <source media="(min-resolution: 2dppx)"
              type="image/webp"
              srcset="/sat_R60m_output80_nosharp.webp">
      <source type="image/webp"
              srcset="/sat_R60m_output80_nosharp_700.webp">
      <source media="(min-resolution: 2dppx)"
              type="image/jpg"
              srcset="/sat_R60m_output80_nosharp.jpg">
      <img src="/sat_R60m_output80_nosharp_700.jpg" alt="a satellite image in the background">
    </picture>
    <div id="cloud">
      <img id="scribble" src="/scribble.svg" alt="a cloud as vector art behind the header">
      <header>
        <h1>
          Connor Couetil
        </h1>
        <nav>
          <span class="nav-item">
            <a href="/portfolio/">
              Portfolio
            </a>
            <svg class="highlight" style="fill: var(--highlight-color, rgba(79, 163, 217, 0.3));" viewBox="0 0 70 10" xmlns="http://www.w3.org/2000/svg"> <path d="M 6.385552,4.63936 C 11.480969,4.181 16.60105,4.05285 21.712758,3.90865 32.7606,3.73846 43.81028,3.79264 54.85913,3.73137 c 0,0 -4.70209,-3.39869 -4.70209,-3.39869 v 0 C 46.62391,0.48992 44.46506,0.59986 40.86904,0.6987 33.02731,0.91426 25.18129,0.87207 17.338653,0.7307 11.556415,0.57934 5.769901,0.42675 0,0 Z" pathLength="200" /></svg>
          </span>
          <span class="nav-item">
            <a href="/resume/">
              Resume
            </a>
            <svg class="highlight" style="fill: var(--highlight-color, rgba(122, 169, 116, 0.3));" viewBox="0 0 70 10" xmlns="http://www.w3.org/2000/svg"> <path d="M 6.385552,4.63936 C 11.480969,4.181 16.60105,4.05285 21.712758,3.90865 32.7606,3.73846 43.81028,3.79264 54.85913,3.73137 c 0,0 -4.70209,-3.39869 -4.70209,-3.39869 v 0 C 46.62391,0.48992 44.46506,0.59986 40.86904,0.6987 33.02731,0.91426 25.18129,0.87207 17.338653,0.7307 11.556415,0.57934 5.769901,0.42675 0,0 Z" pathLength="200" /></svg>
          </span>
          </span>
          <span class="nav-item">
            <a href="https://github.com/couetilc">
              GitHub
            </a>
            <svg class="highlight" style="fill: var(--highlight-color, rgba(242, 92, 84, 0.3));" viewBox="0 0 70 10" xmlns="http://www.w3.org/2000/svg"> <path d="M 6.385552,4.63936 C 11.480969,4.181 16.60105,4.05285 21.712758,3.90865 32.7606,3.73846 43.81028,3.79264 54.85913,3.73137 c 0,0 -4.70209,-3.39869 -4.70209,-3.39869 v 0 C 46.62391,0.48992 44.46506,0.59986 40.86904,0.6987 33.02731,0.91426 25.18129,0.87207 17.338653,0.7307 11.556415,0.57934 5.769901,0.42675 0,0 Z" pathLength="200" /></svg>
          </span>
          <span class="nav-item">
            <a href="https://linkedin.com/in/connorcouetil">
              LinkedIn
            </a>
            <svg class="highlight" style="fill: var(--highlight-color, rgba(214, 168, 79, 0.3));" viewBox="0 0 70 10" xmlns="http://www.w3.org/2000/svg"> <path d="M 6.385552,4.63936 C 11.480969,4.181 16.60105,4.05285 21.712758,3.90865 32.7606,3.73846 43.81028,3.79264 54.85913,3.73137 c 0,0 -4.70209,-3.39869 -4.70209,-3.39869 v 0 C 46.62391,0.48992 44.46506,0.59986 40.86904,0.6987 33.02731,0.91426 25.18129,0.87207 17.338653,0.7307 11.556415,0.57934 5.769901,0.42675 0,0 Z" pathLength="200" /></svg>
          </span>
          <span class="nav-item">
            <a href="/about/">
              About
            </a>
            <svg class="highlight" style="fill: var(--highlight-color, rgba(162, 103, 172, 0.3));" viewBox="0 0 70 10" xmlns="http://www.w3.org/2000/svg"> <path d="M 6.385552,4.63936 C 11.480969,4.181 16.60105,4.05285 21.712758,3.90865 32.7606,3.73846 43.81028,3.79264 54.85913,3.73137 c 0,0 -4.70209,-3.39869 -4.70209,-3.39869 v 0 C 46.62391,0.48992 44.46506,0.59986 40.86904,0.6987 33.02731,0.91426 25.18129,0.87207 17.338653,0.7307 11.556415,0.57934 5.769901,0.42675 0,0 Z" pathLength="200" /></svg>

          </span>
        </nav>
      </header>
    </div>
  </section>

  <script>
    // link highlight animation

    function throttle(fn: (...args: any[]) => void, interval = 200) {
      let lastTime = 0;
      return function (...args: any[]) {
        const now = Date.now();
        if (now - lastTime >= interval) {
          lastTime = now;
          fn.apply(null, args);
        }
      };
    }
    function nextColor() {
      const colors = [
        'rgba(79, 163, 217, 0.3)',
        'rgba(122, 169, 116, 0.3)',
        'rgba(242, 92, 84, 0.3)',
        'rgba(214, 168, 79, 0.3)',
        'rgba(162, 103, 172, 0.3)',
      ];
      let i = 0;
      return () => {
        const c = colors[i];
        i = (i + 1) % colors.length;
        return c;
      }
    }
    (function () {
      const next = nextColor();
      document.querySelector('nav')!
        .style.setProperty('--highlight-color', next());
      const navLinks = document.querySelectorAll('.nav-item a');
      navLinks.forEach(item => {
        item.addEventListener('mouseenter', throttle(() => {
          document.querySelector('nav')!
            .style.setProperty('--highlight-color', next());
        }));
      })
    })();
  </script>

  <script>
    // satellite image animation

    function throttle(cb: (...args: any[]) => void, { interval = 0, queue = true }: { interval?: number, queue?: boolean }) {
      let tid: number | undefined;
      let invoked = new Date().getTime();
      return (...arg: any[]) => {
        clearTimeout(tid);
        const now = new Date().getTime();
        if ((now - invoked) > interval) {
          invoked = now;
          cb(...arg);
        } else if (queue) {
          tid = setTimeout(cb, interval, ...arg);
        }
      }
    }

    function swingBackground (maxSkew = 0, options: { selector?: string, dirX?: number, dirY?: number } = {}) {
      const { selector = 'body', dirX = 1, dirY = 1 } = options;
      return (event: MouseEvent) => {
        const width = window.innerWidth;
        const height = window.innerHeight;
        const origin = [ Math.floor(width / 2), Math.floor(height / 2)];
        const mouse_x = event.clientX;
        const mouse_y = event.clientY;
        const perc_skew_x = dirX * (mouse_x - origin[0]) / origin[0]
        const perc_skew_y = dirY * (mouse_y - origin[1]) / origin[1]
        const skew_x = maxSkew * perc_skew_x;
        const skew_y = maxSkew * perc_skew_y;
        document.querySelectorAll(selector).forEach(el => {
          // eslint-disable-next-line no-param-reassign
          (el as HTMLElement).style.transform = `translate(${skew_x}px, ${skew_y}px) scale(1.25)`;
        });
      }
    }

    document.addEventListener('mousemove', throttle(
      swingBackground(100, { selector: '#background img', dirX: -1, dirY: -1 }),
      { interval: 100 }
    ));
  </script>
</BaseLayout>
