body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
  /* color */
  background-color: red;
  /* typography */
  font-size: 16px;
  font-family: sans-serif;
  /* Libre Baskerville, Lobster, Dancing Script, Pacifico, Fredoka One, Bree
   * Serif, Patua One, Righteous?, Alfa Slab One!, Lobster Two */
}

#greeting {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  /* typography */
  font-size: 10rem;
}

#yo {
  width: fit-content;
}

#username {
  font-size: 6rem;
}

form#login {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem;
}

form#login input {
  font-size: 1rem;
  padding: .25rem;
  margin: .5rem;
}

form#signup {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem;
}

form#signup input {
  font-size: 1rem;
  padding: .25rem;
  margin: .5rem;
}

nav {
  border-top: .5rem solid black;
  padding: .5rem;
  font-size: 1.25rem;
}

nav a {
  margin: .5rem;
}

main {
  height: 200px;
}

footer {
  position: absolute;
  bottom: 0;
}

#popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 247, 0, 0.75);
  display: none;
}

#popup-close {
  position: absolute;
  top: 0;
  left: 0;

  margin: 1rem;
}