(serveCouetil) {
  root * /srv/couetil/www
  templates
  file_server
  encode zstd gzip
}

(cacheCouetil) {
  route {
    header cache-control max-age=86400
    header /sat/* cache-control max-age=604800
    header /fonts/* cache-control max-age=604800
    header /img/* cache-control max-age=604800
  }
}

(redirectHttps) {
  @http {
    protocol http
  }
  redir @http https://{host}{uri}
}

connor.couetil.com ,
www.couetil.com,
couetil.com {
  import redirectHttps
  import serveCouetil
  import cacheCouetil
}
