#content {
  justify-content: center;
  font-family: 'Rubik', system-ui; 
  align-items: center;
  margin: 0;
  z-index: -2;
}
#background {
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#background * {
  transition:  transform 1.5s ease;
}
#background img {
  min-height: 100%;
}
#cloud {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition:  transform .2s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#scribble {
  position: absolute;
}
header {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
header h1 {
  font-size: 3.70rem;
  font-family: 'subset-Bungee', monospace;
  margin: 0;
}
nav {
  border-top: 2px solid black;
  padding: .25rem;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
}
nav a {
  text-decoration: none;
  color: black;
}
.nav-item {
  display: flex;
  flex-flow: column nowrap;
  margin: .5rem 1rem;
  align-items: center;
  position: relative;
}
.underline {
  width: 0px;
  border-bottom: 2px solid white;
  transition: width .25s ease-in-out, border-bottom .2s ease-out;;
}
.highlight {
        position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; /* adjust as needed */
      height: 1em;  /* adjust as needed */
      z-index: -1;
      stroke: rgba(203, 53, 53, 0.5);
      fill: none;
      stroke-width: 8;
      /*
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      */
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      /*
      transition: transform 0.5s ease-out;
      transform-origin: left;
      transform: translateY(50%) scaleX(0) translateX(.5em);
      pointer-events: none;
      */

        clip-path: inset(0 100% 0 0);
  transition: clip-path 0.3s ease-out;
  pointer-events: none;
  transform: translateY(50%) translateX(.5em);
}
.nav-item * {
  will-change: transform;
}
.nav-item:hover .highlight {
  /* stroke-dashoffset: 0; */
  /* transform: translateY(50%) scaleX(1.2) translateX(.5em); */
  clip-path: inset(0 0 0 0);
}
.nav-item:hover .highlight {
  width: 100%;
}
.nav-item:hover .underline {
  width: 100%;
  border-bottom: 2px solid #222222;
}
@media screen and (min-width: 550px) and (max-width: 750px) {
  #scribble {
    width: 600px;
  }
  header h1 {
    font-size: 2.75rem;
  }
  nav a {
    font-size: 1rem;
  }
  .nav-item {
    margin: .5rem;
  }
}
@media screen and (max-width: 550px) {
  #scribble {
    display: none;
  }
  header h1 {
    font-size: 2.25rem;
    text-shadow:
      2px 2px 8px white,
      -2px -2px 8px white;
  }
  nav {
    margin-top: 1rem;
    border-top: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  nav a {
    font-size: 1.5rem;
    color: white;
    text-shadow:
      4px 4px 16px black,
      -4px -4px 16px black,
      -4px 4px 16px black,
      4px -4px 16px black
      ;
  }
  .underline {
    border-bottom: 1px solid black;
  }
  .nav-item:hover .underline {
    border-bottom: 1px solid white;
  }
}
