article {
  margin-bottom: 3em;
  font-family: Bitter, system-ui;
}

.post-header {
  margin: 1em 0;
  padding-top: 1em;
}

.post-header h1 {
  margin: 0 0 0.5em 0;
  font-size: 2em;
  line-height: 1.2;
  font-family: Bitter, system-ui;
}

.post-header time {
  display: block;
  font-size: 0.9em;
  color: #666;
}

.updated-date {
  margin-top: 0.5em;
  font-size: 0.85em;
  color: #888;
  font-style: italic;
}

.post-content {
  margin: 2em 0;
}

.post-content h2 {
  margin: 1.5em 0 0.75em 0;
  font-size: 1.5em;
}

.post-content h3 {
  margin: 1.25em 0 0.5em 0;
  font-size: 1.25em;
}

.post-content p {
  margin: 1em 0;
}

.post-content ul,
.post-content ol {
  margin: 1em 0;
  padding-left: 2em;
}

.post-content li {
  margin: 0.5em 0;
}

.post-content a {
  color: #0066cc;
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content strong {
  font-weight: 600;
}

.post-content code {
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 0.9em;
  font-family: 'Courier New', Courier, monospace;
}

.post-content pre {
  margin: 1.5em 0;
  padding: 1em;
  overflow-x: auto;
  border-radius: 5px;
  line-height: 1.4;
}

.post-content pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  font-size: 0.9em;
}

.post-footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid #e0e0e0;
}

.post-footer a {
  color: #0066cc;
  text-decoration: none;
}

.post-footer a:hover {
  text-decoration: underline;
}
