body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  border-bottom: 2px solid black;
}

section#blog {
  width: 100%;
  max-width: 760px;
  line-height: 1.4em;
  padding: 0 .5em;
}

section#blog > h1 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

nav .nav-item {
  margin: 0 .5em;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.post-preview {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1.5em;
}

.post-preview:last-child {
  border-bottom: none;
}

.post-preview h2 {
  margin: 0 0 0.25em 0;
  font-size: 1.5em;
}

.post-preview h2 a {
  color: black;
  text-decoration: none;
}

.post-preview h2 a:hover {
  text-decoration: underline;
}

.post-preview time {
  display: block;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 0.5em;
}

.post-preview p {
  margin: 0;
  color: #333;
}
