body {
  background-color: white;
  display: flex;
  justify-content: center;
}

header.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

header > a {
  flex: 0 0;
}

header h1 {
  padding: 0;
  margin: 0;
  font-family: 'subset-Bungee', monospace;
  font-size: 1.75em;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: .25em;
}

nav .nav-item {
  margin: 0 .5em;
}

section {
  width: 100%;
  max-width: 760px;
  line-height: 1.4em;
  padding: 0 .5em;
}

@media (max-width: 420px) {
  nav {
    gap: 0.25rem;
  }

  nav img {
    max-width: 24px;
    height: auto;
  }

  nav span.nav-item {
    margin: 0.25rem 0.2rem;
  }
}

header a {
  color: black;
  text-decoration: none;
}
