/* Page Layout */

.highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  z-index: -1;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  transform: translateY(65%) translateX(.75em) scaleX(1.75) scaleY(3);
}

.portfolio-items {
  margin: 1em 0;
}

/* Portfolio Item Component */

.portfolio-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  margin: 1em 0;
  gap: .5em;
  position: relative;
}

.portfolio-item * {
  font-family: Bitter, serif;
}

.portfolio-item-heading {
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 0;
  text-align: center;
  position: relative
}

.portfolio-item h1 div {
  z-index: 1;
  position: relative;
}

.portfolio-item > .highlight {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 10%;
  z-index: 0;
  clip-path: inset(0 100% 0 0);
  opacity: 0;
  transition:
    clip-path 1.05s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.6s ease-out;
  pointer-events: none;
  transform: translate(-50%, -50%) scaleX(2.5) scaleY(4);
  transform-origin: center;
}

.portfolio-item:hover > .highlight {
  clip-path: inset(0 0 0 0);
  opacity: 1;
}

.portfolio-item > * {
  position: relative;
  z-index: 1;
}

.portfolio-item-subheading {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  margin: 0;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  width: 63%;
  justify-self: center;
  text-align: center;
}

@media screen and (max-width: 610px) {
  .portfolio-item-subheading {
    width: 85%;
  }
}

.portfolio-item-preview {
  grid-column: 1 / 1;
  grid-row: 3 / 4;
  place-self: center;
}

@media screen and (max-width: 610px) {
  .portfolio-item-preview {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
  }
}

.portfolio-item-preview img {
  border: 2px solid black;
  border-radius: 4px;
}

.portfolio-item-summary {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 610px) {
  .portfolio-item-summary {
    grid-column: 1 / 3;
    grid-row: 4 / 4;
  }
}

/* Utility Classes */

.bg-color-green {
  background-color: rgba(84, 172, 72, .25);
}

.bg-color-pink {
  background-color: rgba(233, 68, 116, .25);
}

.bg-color-orange {
  background-color: rgba(222, 155, 97, .25);
}

.bg-color-blue {
  background-color: rgba(36, 150, 237, .25);
}

.bg-color-yellow {
  background-color: rgba(221, 184, 74, .25);
}

.bg-color-emerald {
  background-color: rgba(86, 192, 167, .25);
}

.bg-color-purple {
  background-color: rgba(160, 32, 240, .25);
}
