{{ template "layout_default.tmpl" . }}
{{ define "title" }}About{{ end }}
{{ define "head" }}
  <link rel="stylesheet" type="text/css" href="/static/about.css">
{{ end }}
{{ define "body" }}
<section id="about">
  {{ template "partial_nav.tmpl" . }}
  <p>
    I am a full-stack web developer and software engineer, an expert in
    Javascript/Node.js development and user interface design using React
    with the latest design tools. I contribute to Open-Source software and
    have developed award-winning projects at Hackathons.
  </p>
  <p>
    The <a href="/static/sat_R60m_output80_nosharp.jpg">background image</a> on my
    home page is a
    <a href="https://sentinel.esa.int/web/sentinel/missions/sentinel-2">Sentinel-2</a>
    satellite image of the Bay Area sourced from <a href="https://registry.opendata.aws/sentinel-2/">AWS S3</a>.
  </p>
  <p>
    This website is Open-Source, <a href="https://github.com/couetilc/couetil.com">check it out on GitHub</a>.
  </p>
</section>
{{ end }}
