{{ template "layout_default.tmpl" . }}
{{ define "title" }}Yo.{{ end }}
{{ define "head" }}
  <link rel="stylesheet" type="text/css" href="/static/home.css">
{{ end }}
{{ define "body" }}
  <section id="content">
    <picture id="background">
      <source media="(min-width: 2050px)"
              srcset="/static/sat_R20m_output80_nosharp.webp">
      <source media="(min-width: 2050px)"
              type="image/jpeg"
              srcset="/static/sat_R20m_output80_nosharp.jpg">
      <source media="(min-width: 900px) and (max-width: 2049px) and (min-resolution: 2dppx)"
              type="image/webp"
              srcset="/static/sat_R20m_output80_nosharp.webp">
      <source media="(min-width: 900px) and (max-width: 2049px)"
              type="image/webp"
              srcset="/static/sat_R60m_output80_nosharp.webp">
      <source media="(min-width: 900px) and (max-width: 2049px) and (min-resolution: 2dppx)"
              type="image/jpeg"
              srcset="/static/sat_R20m_output80_nosharp.jpg">
      <source media="(min-width: 900px) and (max-width: 2049px)"
              type="image/jpeg"
              srcset="/static/sat_R60m_output80_nosharp.jpg">
      <source media="(min-width: 500px) and (max-width: 899px) and (min-resolution: 2dppx)"
              type="image/webp"
              srcset="/static/sat_R60m_output80_nosharp.webp">
      <source media="(min-width: 500px) and (max-width: 899px)"
              type="image/webp"
              srcset="/static/sat_R60m_output80_nosharp_1200.webp">
      <source media="(min-width: 500px) and (max-width: 899px) and (min-resolution: 2dppx)"
              type="image/jpeg"
              srcset="/static/sat_R60m_output80_nosharp.jpg">
      <source media="(min-width: 500px) and (max-width: 899px)"
              type="image/jpeg"
              srcset="/static/sat_R60m_output80_nosharp_1200.jpg">
      <source media="(min-resolution: 2dppx)"
              type="image/webp"
              srcset="/static/sat_R60m_output80_nosharp.webp">
      <source type="image/webp"
              srcset="/static/sat_R60m_output80_nosharp_700.webp">
      <source media="(min-resolution: 2dppx)"
              type="image/jpg"
              srcset="/static/sat_R60m_output80_nosharp.jpg">
      <img src="/static/sat_R60m_output80_nosharp_700.jpg" alt="a satellite image in the background">
    </picture>
    <div id="cloud">
      <img id="scribble" src="/static/scribble.svg" alt="a cloud as vector art behind the header">
      <header>
        <h1>
          Connor Couetil
        </h1>
        <nav>
          <span class="nav-item">
            <a href="/portfolio/">
              Portfolio
            </a>
            <span class="underline"></span>
          </span>
          <span class="nav-item">
            <a href="/resume/">
              Resume
            </a>
            <span class="underline"></span>
          </span>
          </span>
          <span class="nav-item">
            <a href="https://github.com/couetilc">
              GitHub
            </a>
            <span class="underline"></span>
          </span>
          <span class="nav-item">
            <a href="https://linkedin.com/in/connorcouetil">
              LinkedIn
            </a>
            <span class="underline"></span>
          </span>
          <span class="nav-item">
            <a href="/about/">
              About
            </a>
            <span class="underline"></span>
          </span>
        </nav>
      </header>
    </div>
  </section>
  <script type="module" src="/static/index.js"></script>
{{ end }}
