<header>
  <a href="/">
    <h1>
      Connor Couetil
    </h1>
  </a>
  <nav>
    {{ if not (.HasPathPrefix "/portfolio") }}
    <span class="nav-item">
      <a href="/portfolio/">
        Portfolio
      </a>
      <span class="underline"></span>
    </span>
    {{ end }}
    {{ if not (.HasPathPrefix "/about") }}
    <span class="nav-item">
      <a href="/about/">
        About
      </a>
      <span class="underline"></span>
    </span>
    {{ end }}
    <span class="nav-item">
      <a href="/resume/">
        Resume
      </a>
      <span class="underline"></span>
    </span>
    <span class="nav-item">
      <a href="https://github.com/couetilc">
        <img src="/static/img_GitHub-Mark-32px.png">
      </a>
      <span class="underline"></span>
    </span>
    <span class="nav-item">
      <a href="https://linkedin.com/in/connorcouetil">
        <img src="/static/img_LI-In-Bug.png">
      </a>
      <span class="underline"></span>
    </span>
  </nav>
</header>
