{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/about.css">
{% endblock %}

{% block body %}
<section id="about">
  {% include "nav.html" %}
  <p>
  I do

  <br />Software Development

  <br />Infrastructure Automation

  <br />Cloud Services Management

  <br />
  <br />Interests

  <br />+ Testing
  <br />+ Virtualization
  <br />+ DevOps
  <br />+ Networking
  </p>
  <p>
    The <a href="/static/sat_R60m_output80_nosharp.jpg">background image</a> on my
    home page is a
    <a href="https://sentinel.esa.int/web/sentinel/missions/sentinel-2">Sentinel-2</a>
    satellite image of my current location sourced from <a href="https://registry.opendata.aws/sentinel-2/">AWS S3</a>.
  </p>
  <p>
    This website is Open-Source, <a href="https://github.com/couetilc/couetil.com">check it out on GitHub</a>.
  </p>
  <p>
    Reach out if you'd like to play tennis and I'm in your area.
  </p>
</section>
{% endblock %}
